<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= @article.title %></title>
	</head>
	<body>
		<h1><%= @article.title %></h1>
		<p>
			<%= truncate(@article.body, lenght:30) %>
		</p>
		<p>
			<%= link_to "Leer mas", article_url(@article) %>
		</p>
	</body>
</html>